.vs/WhatsNext/v14/.suo
WhatsNext/bin/ApplicationInsights.config
WhatsNext/bin/Microsoft.AI.Agent.Intercept.dll
WhatsNext/bin/Microsoft.AI.DependencyCollector.dll
WhatsNext/bin/Microsoft.AI.DependencyCollector.xml
WhatsNext/bin/Microsoft.AI.PerfCounterCollector.dll
WhatsNext/bin/Microsoft.AI.ServerTelemetryChannel.dll
WhatsNext/bin/Microsoft.AI.ServerTelemetryChannel.xml
WhatsNext/bin/Microsoft.AI.Web.dll
WhatsNext/bin/Microsoft.AI.Web.xml
WhatsNext/bin/Microsoft.AI.WindowsServer.dll
WhatsNext/bin/Microsoft.AI.WindowsServer.xml
WhatsNext/bin/Microsoft.ApplicationInsights.dll
WhatsNext/bin/Microsoft.ApplicationInsights.xml
WhatsNext/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
WhatsNext/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
WhatsNext/bin/Newtonsoft.Json.dll
WhatsNext/bin/Newtonsoft.Json.xml
WhatsNext/bin/roslyn/csc.exe
WhatsNext/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
WhatsNext/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
WhatsNext/bin/roslyn/Microsoft.CodeAnalysis.dll
WhatsNext/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
WhatsNext/bin/roslyn/Microsoft.CSharp.Core.targets
WhatsNext/bin/roslyn/Microsoft.VisualBasic.Core.targets
WhatsNext/bin/roslyn/System.Collections.Immutable.dll
WhatsNext/bin/roslyn/System.Reflection.Metadata.dll
WhatsNext/bin/roslyn/vbc.exe
WhatsNext/bin/roslyn/VBCSCompiler.exe
WhatsNext/bin/roslyn/VBCSCompiler.exe.config
WhatsNext/bin/System.Net.Http.Formatting.dll
WhatsNext/bin/System.Net.Http.Formatting.xml
WhatsNext/bin/System.Web.Http.dll
WhatsNext/bin/System.Web.Http.WebHost.dll
WhatsNext/bin/System.Web.Http.WebHost.xml
WhatsNext/bin/System.Web.Http.xml
WhatsNext/bin/WhatsNext.dll
WhatsNext/bin/WhatsNext.dll.config
WhatsNext/bin/WhatsNext.pdb
WhatsNext/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
WhatsNext/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
WhatsNext/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
WhatsNext/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
WhatsNext/obj/Debug/WhatsNext.csproj.FileListAbsolute.txt
WhatsNext/obj/Debug/WhatsNext.csprojResolveAssemblyReference.cache
WhatsNext/obj/Debug/WhatsNext.dll
WhatsNext/obj/Debug/WhatsNext.pdb
WhatsNext/WhatsNext.csproj.user
WhatsNextEntities/bin/Microsoft.AI.Agent.Intercept.dll
WhatsNextEntities/bin/Microsoft.AI.DependencyCollector.dll
WhatsNextEntities/bin/Microsoft.AI.PerfCounterCollector.dll
WhatsNextEntities/bin/Microsoft.AI.ServerTelemetryChannel.dll
WhatsNextEntities/bin/Microsoft.AI.Web.dll
WhatsNextEntities/bin/Microsoft.AI.WindowsServer.dll
WhatsNextEntities/bin/Microsoft.ApplicationInsights.dll
WhatsNextEntities/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
WhatsNext/bin/EntityFramework.dll
WhatsNext/bin/EntityFramework.SqlServer.dll
WhatsNext/obj/Debug/TempPE/Models.WhatsNextEntities.cs.dll
WhatsNext/obj/Debug/TempPE/Models.WhatsNextEntities.Designer.cs.dll
WhatsNextEntities/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
WhatsNextEntities/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
WhatsNextEntities/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
WhatsNextEntities/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
WhatsNextSite/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
WhatsNextSite/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
WhatsNextSite/bin/roslyn/csc.exe
WhatsNextSite/bin/roslyn/csc.exe.refresh
WhatsNextSite/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
WhatsNextSite/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll.refresh
WhatsNextSite/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
WhatsNextSite/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll.refresh
WhatsNextSite/bin/roslyn/Microsoft.CodeAnalysis.dll
WhatsNextSite/bin/roslyn/Microsoft.CodeAnalysis.dll.refresh
WhatsNextSite/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
WhatsNextSite/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll.refresh
WhatsNextSite/bin/roslyn/Microsoft.CSharp.Core.targets
WhatsNextSite/bin/roslyn/Microsoft.VisualBasic.Core.targets
WhatsNextSite/bin/roslyn/System.Collections.Immutable.dll
WhatsNextSite/bin/roslyn/System.Collections.Immutable.dll.refresh
WhatsNextSite/bin/roslyn/System.Reflection.Metadata.dll
WhatsNextSite/bin/roslyn/System.Reflection.Metadata.dll.refresh
WhatsNextSite/bin/roslyn/vbc.exe
WhatsNextSite/bin/roslyn/vbc.exe.refresh
WhatsNextSite/bin/roslyn/VBCSCompiler.exe
WhatsNextSite/bin/roslyn/VBCSCompiler.exe.config
WhatsNextSite/bin/roslyn/VBCSCompiler.exe.refresh
WhatsNext.Entities/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
WhatsNext.Entities/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
WhatsNext.Entities/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
WhatsNext.Entities/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
WhatsNext.Entities/obj/Debug/TempPE/WhatsNext.cs.dll
WhatsNext.Entities/obj/Debug/TempPE/WhatsNext.Designer.cs.dll
WhatsNext.Repository.Core/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
WhatsNext.Repository.Core/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
WhatsNext.Repository.Core/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
WhatsNext.Repository.Core/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
WhatsNext.Repository.old/bin/EntityFramework.dll
WhatsNext.Repository.old/bin/EntityFramework.SqlServer.dll
WhatsNext.Repository.old/bin/Microsoft.AI.Agent.Intercept.dll
WhatsNext.Repository.old/bin/Microsoft.AI.DependencyCollector.dll
WhatsNext.Repository.old/bin/Microsoft.AI.PerfCounterCollector.dll
WhatsNext.Repository.old/bin/Microsoft.AI.ServerTelemetryChannel.dll
WhatsNext.Repository.old/bin/Microsoft.AI.Web.dll
WhatsNext.Repository.old/bin/Microsoft.AI.WindowsServer.dll
WhatsNext.Repository.old/bin/Microsoft.ApplicationInsights.dll
WhatsNext.Repository.old/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
WhatsNext.Repository.old/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
WhatsNext.Repository.old/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
WhatsNext.Repository.old/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
WhatsNext.Repository.old/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
WhatsNext.Repository/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
WhatsNext.Repository/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
WhatsNext.Repository/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
WhatsNext.Repository/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
WhatsNext.Entities/bin/Debug/EntityFramework.dll
WhatsNext.Entities/bin/Debug/EntityFramework.SqlServer.dll
WhatsNext.Entities/bin/Debug/EntityFramework.SqlServer.xml
WhatsNext.Entities/bin/Debug/EntityFramework.xml
WhatsNext.Entities/bin/Debug/WhatsNext.Entities.dll
WhatsNext.Entities/bin/Debug/WhatsNext.Entities.dll.config
WhatsNext.Entities/bin/Debug/WhatsNext.Entities.pdb
WhatsNext.Entities/obj/Debug/edmxResourcesToEmbed/WhatsNext.csdl
WhatsNext.Entities/obj/Debug/edmxResourcesToEmbed/WhatsNext.msl
WhatsNext.Entities/obj/Debug/edmxResourcesToEmbed/WhatsNext.ssdl
WhatsNext.Entities/obj/Debug/WhatsNext.Entities.csproj.FileListAbsolute.txt
WhatsNext.Entities/obj/Debug/WhatsNext.Entities.csprojResolveAssemblyReference.cache
WhatsNext.Entities/obj/Debug/WhatsNext.Entities.dll
WhatsNext.Entities/obj/Debug/WhatsNext.Entities.pdb
WhatsNext.Repository.Core/bin/Debug/EntityFramework.dll
WhatsNext.Repository.Core/bin/Debug/EntityFramework.xml
WhatsNext.Repository.Core/bin/Debug/WhatsNext.Entities.dll
WhatsNext.Repository.Core/bin/Debug/WhatsNext.Entities.pdb
WhatsNext.Repository.Core/bin/Debug/WhatsNext.Repository.Core.dll
WhatsNext.Repository.Core/bin/Debug/WhatsNext.Repository.Core.pdb
WhatsNext.Repository.Core/obj/Debug/WhatsNext.Repository.Core.csproj.FileListAbsolute.txt
WhatsNext.Repository.Core/obj/Debug/WhatsNext.Repository.Core.csprojResolveAssemblyReference.cache
WhatsNext.Repository.Core/obj/Debug/WhatsNext.Repository.Core.dll
WhatsNext.Repository.Core/obj/Debug/WhatsNext.Repository.Core.pdb
WhatsNext.Repository/bin/Debug/EntityFramework.dll
WhatsNext.Repository/bin/Debug/EntityFramework.SqlServer.dll
WhatsNext.Repository/bin/Debug/EntityFramework.SqlServer.xml
WhatsNext.Repository/bin/Debug/EntityFramework.xml
WhatsNext.Repository/bin/Debug/WhatsNext.Entities.dll
WhatsNext.Repository/bin/Debug/WhatsNext.Entities.pdb
WhatsNext.Repository/bin/Debug/WhatsNext.Repository.Core.dll
WhatsNext.Repository/bin/Debug/WhatsNext.Repository.Core.pdb
WhatsNext.Repository/bin/Debug/WhatsNext.Repository.dll
WhatsNext.Repository/bin/Debug/WhatsNext.Repository.dll.config
WhatsNext.Repository/bin/Debug/WhatsNext.Repository.pdb
WhatsNext.Repository/obj/Debug/WhatsNext.Repository.csproj.FileListAbsolute.txt
WhatsNext.Repository/obj/Debug/WhatsNext.Repository.csprojResolveAssemblyReference.cache
WhatsNext.Repository/obj/Debug/WhatsNext.Repository.dll
WhatsNext.Repository/obj/Debug/WhatsNext.Repository.pdb
WhatsNext.Resources.Contracts/bin/Debug/WhatsNext.Resources.Contracts.dll
WhatsNext.Resources.Contracts/bin/Debug/WhatsNext.Resources.Contracts.pdb
WhatsNext.Resources.Contracts/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
WhatsNext.Resources.Contracts/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
WhatsNext.Resources.Contracts/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
WhatsNext.Resources.Contracts/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
WhatsNext.Resources.Contracts/obj/Debug/WhatsNext.Resources.Contracts.csproj.FileListAbsolute.txt
WhatsNext.Resources.Contracts/obj/Debug/WhatsNext.Resources.Contracts.dll
WhatsNext.Resources.Contracts/obj/Debug/WhatsNext.Resources.Contracts.pdb
WhatsNext.Resources.Core/bin/Debug/WhatsNext.Resources.Contracts.dll
WhatsNext.Resources.Core/bin/Debug/WhatsNext.Resources.Contracts.pdb
WhatsNext.Resources.Core/bin/Debug/WhatsNext.Resources.Core.dll
WhatsNext.Resources.Core/bin/Debug/WhatsNext.Resources.Core.pdb
WhatsNext.Resources.Core/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
WhatsNext.Resources.Core/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
WhatsNext.Resources.Core/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
WhatsNext.Resources.Core/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
WhatsNext.Resources.Core/obj/Debug/WhatsNext.Resources.Core.csproj.FileListAbsolute.txt
WhatsNext.Resources.Core/obj/Debug/WhatsNext.Resources.Core.csprojResolveAssemblyReference.cache
WhatsNext.Resources.Core/obj/Debug/WhatsNext.Resources.Core.dll
WhatsNext.Resources.Core/obj/Debug/WhatsNext.Resources.Core.pdb
WhatsNext/bin/EntityFramework.SqlServer.xml
WhatsNext/bin/EntityFramework.xml
WhatsNext/bin/Microsoft.Practices.ServiceLocation.dll
WhatsNext/bin/Microsoft.Practices.ServiceLocation.pdb
WhatsNext/bin/Microsoft.Practices.ServiceLocation.xml
WhatsNext/bin/Microsoft.Practices.Unity.Configuration.dll
WhatsNext/bin/Microsoft.Practices.Unity.Configuration.xml
WhatsNext/bin/Microsoft.Practices.Unity.dll
WhatsNext/bin/Microsoft.Practices.Unity.Mvc.dll
WhatsNext/bin/Microsoft.Practices.Unity.Mvc.xml
WhatsNext/bin/Microsoft.Practices.Unity.RegistrationByConvention.dll
WhatsNext/bin/Microsoft.Practices.Unity.RegistrationByConvention.xml
WhatsNext/bin/Microsoft.Practices.Unity.xml
WhatsNext/bin/Microsoft.Web.Infrastructure.dll
WhatsNext/bin/System.Web.Cors.dll
WhatsNext/bin/System.Web.Helpers.dll
WhatsNext/bin/System.Web.Helpers.xml
WhatsNext/bin/System.Web.Http.Cors.dll
WhatsNext/bin/System.Web.Http.Cors.xml
WhatsNext/bin/System.Web.Mvc.dll
WhatsNext/bin/System.Web.Mvc.xml
WhatsNext/bin/System.Web.Razor.dll
WhatsNext/bin/System.Web.Razor.xml
WhatsNext/bin/System.Web.WebPages.Deployment.dll
WhatsNext/bin/System.Web.WebPages.Deployment.xml
WhatsNext/bin/System.Web.WebPages.dll
WhatsNext/bin/System.Web.WebPages.Razor.dll
WhatsNext/bin/System.Web.WebPages.Razor.xml
WhatsNext/bin/System.Web.WebPages.xml
WhatsNext/bin/WebActivatorEx.dll
WhatsNext/bin/WhatsNext.Entities.dll
WhatsNext/bin/WhatsNext.Entities.pdb
WhatsNext/bin/WhatsNext.Repository.Core.dll
WhatsNext/bin/WhatsNext.Repository.Core.pdb
WhatsNext/bin/WhatsNext.Repository.dll
WhatsNext/bin/WhatsNext.Repository.pdb
WhatsNext/bin/WhatsNext.Resources.Contracts.dll
WhatsNext/bin/WhatsNext.Resources.Contracts.pdb
WhatsNext/bin/WhatsNext.Resources.Core.dll
WhatsNext/bin/WhatsNext.Resources.Core.pdb
WhatsNext/obj/Debug/WhatsNext.API.csproj.FileListAbsolute.txt
WhatsNext/obj/Debug/WhatsNext.API.csprojResolveAssemblyReference.cache
WhatsNext.Entities/bin/Release/EntityFramework.dll
WhatsNext.Entities/bin/Release/EntityFramework.SqlServer.dll
WhatsNext.Entities/bin/Release/EntityFramework.SqlServer.xml
WhatsNext.Entities/bin/Release/EntityFramework.xml
WhatsNext.Entities/bin/Release/WhatsNext.Entities.dll
WhatsNext.Entities/bin/Release/WhatsNext.Entities.dll.config
WhatsNext.Entities/bin/Release/WhatsNext.Entities.pdb
WhatsNext.Entities/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
WhatsNext.Entities/obj/Release/edmxResourcesToEmbed/WhatsNext.csdl
WhatsNext.Entities/obj/Release/edmxResourcesToEmbed/WhatsNext.msl
WhatsNext.Entities/obj/Release/edmxResourcesToEmbed/WhatsNext.ssdl
WhatsNext.Entities/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
WhatsNext.Entities/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
WhatsNext.Entities/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
WhatsNext.Entities/obj/Release/TempPE/WhatsNext.cs.dll
WhatsNext.Entities/obj/Release/TempPE/WhatsNext.Designer.cs.dll
WhatsNext.Entities/obj/Release/WhatsNext.Entities.csproj.FileListAbsolute.txt
WhatsNext.Entities/obj/Release/WhatsNext.Entities.dll
WhatsNext.Entities/obj/Release/WhatsNext.Entities.pdb
WhatsNext.Repository.Core/bin/Release/EntityFramework.dll
WhatsNext.Repository.Core/bin/Release/EntityFramework.xml
WhatsNext.Repository.Core/bin/Release/WhatsNext.Entities.dll
WhatsNext.Repository.Core/bin/Release/WhatsNext.Entities.pdb
WhatsNext.Repository.Core/bin/Release/WhatsNext.Repository.Core.dll
WhatsNext.Repository.Core/bin/Release/WhatsNext.Repository.Core.pdb
WhatsNext.Repository.Core/obj/Debug/build.force
WhatsNext.Repository.Core/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
WhatsNext.Repository.Core/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
WhatsNext.Repository.Core/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
WhatsNext.Repository.Core/obj/Release/WhatsNext.Repository.Core.csproj.FileListAbsolute.txt
WhatsNext.Repository.Core/obj/Release/WhatsNext.Repository.Core.csprojResolveAssemblyReference.cache
WhatsNext.Repository.Core/obj/Release/WhatsNext.Repository.Core.dll
WhatsNext.Repository.Core/obj/Release/WhatsNext.Repository.Core.pdb
WhatsNext.Repository/bin/Release/EntityFramework.dll
WhatsNext.Repository/bin/Release/EntityFramework.SqlServer.dll
WhatsNext.Repository/bin/Release/EntityFramework.SqlServer.xml
WhatsNext.Repository/bin/Release/EntityFramework.xml
WhatsNext.Repository/bin/Release/WhatsNext.Entities.dll
WhatsNext.Repository/bin/Release/WhatsNext.Entities.pdb
WhatsNext.Repository/bin/Release/WhatsNext.Repository.Core.dll
WhatsNext.Repository/bin/Release/WhatsNext.Repository.Core.pdb
WhatsNext.Repository/bin/Release/WhatsNext.Repository.dll
WhatsNext.Repository/bin/Release/WhatsNext.Repository.dll.config
WhatsNext.Repository/bin/Release/WhatsNext.Repository.pdb
WhatsNext.Repository/obj/Debug/build.force
WhatsNext.Repository/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
WhatsNext.Repository/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
WhatsNext.Repository/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
WhatsNext.Repository/obj/Release/WhatsNext.Repository.csproj.FileListAbsolute.txt
WhatsNext.Repository/obj/Release/WhatsNext.Repository.csprojResolveAssemblyReference.cache
WhatsNext.Repository/obj/Release/WhatsNext.Repository.dll
WhatsNext.Repository/obj/Release/WhatsNext.Repository.pdb
WhatsNext.Resources.Contracts/bin/Release/WhatsNext.Resources.Contracts.dll
WhatsNext.Resources.Contracts/bin/Release/WhatsNext.Resources.Contracts.pdb
WhatsNext.Resources.Contracts/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
WhatsNext.Resources.Contracts/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
WhatsNext.Resources.Contracts/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
WhatsNext.Resources.Contracts/obj/Release/WhatsNext.Resources.Contracts.csproj.FileListAbsolute.txt
WhatsNext.Resources.Contracts/obj/Release/WhatsNext.Resources.Contracts.csprojResolveAssemblyReference.cache
WhatsNext.Resources.Contracts/obj/Release/WhatsNext.Resources.Contracts.dll
WhatsNext.Resources.Contracts/obj/Release/WhatsNext.Resources.Contracts.pdb
WhatsNext.Resources.Core/bin/Release/WhatsNext.Resources.Contracts.dll
WhatsNext.Resources.Core/bin/Release/WhatsNext.Resources.Contracts.pdb
WhatsNext.Resources.Core/bin/Release/WhatsNext.Resources.Core.dll
WhatsNext.Resources.Core/bin/Release/WhatsNext.Resources.Core.pdb
WhatsNext.Resources.Core/obj/Debug/build.force
WhatsNext.Resources.Core/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
WhatsNext.Resources.Core/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
WhatsNext.Resources.Core/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
WhatsNext.Resources.Core/obj/Release/WhatsNext.Resources.Core.csproj.FileListAbsolute.txt
WhatsNext.Resources.Core/obj/Release/WhatsNext.Resources.Core.csprojResolveAssemblyReference.cache
WhatsNext.Resources.Core/obj/Release/WhatsNext.Resources.Core.dll
WhatsNext.Resources.Core/obj/Release/WhatsNext.Resources.Core.pdb
WhatsNext/obj/Debug/build.force
WhatsNext/obj/Release/_WPPLastBuildInfo.txt
WhatsNext/obj/Release/CSAutoParameterize.parameters.xml
WhatsNext/obj/Release/CSAutoParameterize/original/Web.config
WhatsNext/obj/Release/CSAutoParameterize/transformed/Web.config
WhatsNext/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
WhatsNext/obj/Release/Package/PackageTmp/ApplicationInsights.config
WhatsNext/obj/Release/Package/PackageTmp/bin/ApplicationInsights.config
WhatsNext/obj/Release/Package/PackageTmp/bin/EntityFramework.dll
WhatsNext/obj/Release/Package/PackageTmp/bin/EntityFramework.SqlServer.dll
WhatsNext/obj/Release/Package/PackageTmp/bin/Microsoft.AI.Agent.Intercept.dll
WhatsNext/obj/Release/Package/PackageTmp/bin/Microsoft.AI.DependencyCollector.dll
WhatsNext/obj/Release/Package/PackageTmp/bin/Microsoft.AI.PerfCounterCollector.dll
WhatsNext/obj/Release/Package/PackageTmp/bin/Microsoft.AI.ServerTelemetryChannel.dll
WhatsNext/obj/Release/Package/PackageTmp/bin/Microsoft.AI.Web.dll
WhatsNext/obj/Release/Package/PackageTmp/bin/Microsoft.AI.WindowsServer.dll
WhatsNext/obj/Release/Package/PackageTmp/bin/Microsoft.ApplicationInsights.dll
WhatsNext/obj/Release/Package/PackageTmp/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
WhatsNext/obj/Release/Package/PackageTmp/bin/Microsoft.Practices.ServiceLocation.dll
WhatsNext/obj/Release/Package/PackageTmp/bin/Microsoft.Practices.Unity.Configuration.dll
WhatsNext/obj/Release/Package/PackageTmp/bin/Microsoft.Practices.Unity.dll
WhatsNext/obj/Release/Package/PackageTmp/bin/Microsoft.Practices.Unity.Mvc.dll
WhatsNext/obj/Release/Package/PackageTmp/bin/Microsoft.Practices.Unity.RegistrationByConvention.dll
WhatsNext/obj/Release/Package/PackageTmp/bin/Microsoft.Web.Infrastructure.dll
WhatsNext/obj/Release/Package/PackageTmp/bin/Newtonsoft.Json.dll
WhatsNext/obj/Release/Package/PackageTmp/bin/roslyn/csc.exe
WhatsNext/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
WhatsNext/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
WhatsNext/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.CodeAnalysis.dll
WhatsNext/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
WhatsNext/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.CSharp.Core.targets
WhatsNext/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.VisualBasic.Core.targets
WhatsNext/obj/Release/Package/PackageTmp/bin/roslyn/System.Collections.Immutable.dll
WhatsNext/obj/Release/Package/PackageTmp/bin/roslyn/System.Reflection.Metadata.dll
WhatsNext/obj/Release/Package/PackageTmp/bin/roslyn/vbc.exe
WhatsNext/obj/Release/Package/PackageTmp/bin/roslyn/VBCSCompiler.exe
WhatsNext/obj/Release/Package/PackageTmp/bin/roslyn/VBCSCompiler.exe.config
WhatsNext/obj/Release/Package/PackageTmp/bin/System.Net.Http.Formatting.dll
WhatsNext/obj/Release/Package/PackageTmp/bin/System.Web.Cors.dll
WhatsNext/obj/Release/Package/PackageTmp/bin/System.Web.Helpers.dll
WhatsNext/obj/Release/Package/PackageTmp/bin/System.Web.Http.Cors.dll
WhatsNext/obj/Release/Package/PackageTmp/bin/System.Web.Http.dll
WhatsNext/obj/Release/Package/PackageTmp/bin/System.Web.Http.WebHost.dll
WhatsNext/obj/Release/Package/PackageTmp/bin/System.Web.Mvc.dll
WhatsNext/obj/Release/Package/PackageTmp/bin/System.Web.Razor.dll
WhatsNext/obj/Release/Package/PackageTmp/bin/System.Web.WebPages.Deployment.dll
WhatsNext/obj/Release/Package/PackageTmp/bin/System.Web.WebPages.dll
WhatsNext/obj/Release/Package/PackageTmp/bin/System.Web.WebPages.Razor.dll
WhatsNext/obj/Release/Package/PackageTmp/bin/WebActivatorEx.dll
WhatsNext/obj/Release/Package/PackageTmp/bin/WhatsNext.dll
WhatsNext/obj/Release/Package/PackageTmp/bin/WhatsNext.Entities.dll
WhatsNext/obj/Release/Package/PackageTmp/bin/WhatsNext.Repository.Core.dll
WhatsNext/obj/Release/Package/PackageTmp/bin/WhatsNext.Repository.dll
WhatsNext/obj/Release/Package/PackageTmp/bin/WhatsNext.Resources.Contracts.dll
WhatsNext/obj/Release/Package/PackageTmp/bin/WhatsNext.Resources.Core.dll
WhatsNext/obj/Release/Package/PackageTmp/Global.asax
WhatsNext/obj/Release/Package/PackageTmp/packages.config
WhatsNext/obj/Release/Package/PackageTmp/scripts/ai.0.15.0-build58334.js
WhatsNext/obj/Release/Package/PackageTmp/scripts/ai.0.15.0-build58334.min.js
WhatsNext/obj/Release/Package/PackageTmp/Web.config
WhatsNext/obj/Release/Package/WhatsNext.API.SourceManifest.xml
WhatsNext/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
WhatsNext/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
WhatsNext/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
WhatsNext/obj/Release/TransformWebConfig/assist/Web.config
WhatsNext/obj/Release/TransformWebConfig/original/Web.config
WhatsNext/obj/Release/TransformWebConfig/transformed/Web.config
WhatsNext/obj/Release/WhatsNext.API.csproj.FileListAbsolute.txt
WhatsNext/obj/Release/WhatsNext.API.csprojResolveAssemblyReference.cache
WhatsNext/obj/Release/WhatsNext.dll
WhatsNext/obj/Release/WhatsNext.pdb
WhatsNext/Web.config
WhatsNext/WhatsNext.API.csproj.user
WhatsNext.Entities/obj/Release/WhatsNext.Entities.csprojResolveAssemblyReference.cache
