USE [master]
GO
/****** Object:  Database [WhatsNext]    Script Date: 16.4.2016 8:06:45 ******/
CREATE DATABASE [WhatsNext]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WhatsNext', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.IRHAD\MSSQL\DATA\WhatsNext.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'WhatsNext_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.IRHAD\MSSQL\DATA\WhatsNext_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WhatsNext].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WhatsNext]
GO
/****** Object:  Table [dbo].[Approaches]    Script Date: 16.4.2016 8:06:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Approaches](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[FKUser] [bigint] NOT NULL,
	[EventTime] [datetime] NULL,
 CONSTRAINT [PK_Approaches] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Interests]    Script Date: 16.4.2016 8:06:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Interests](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[FKInterest] [bigint] NULL,
 CONSTRAINT [PK_Interests] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Roles]    Script Date: 16.4.2016 8:06:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 16.4.2016 8:06:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[MiddleName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[HomeTown] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users_Interests]    Script Date: 16.4.2016 8:06:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users_Interests](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[FKUser] [bigint] NOT NULL,
	[FKInterest] [bigint] NOT NULL,
 CONSTRAINT [PK_Users_Interests] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users_Roles]    Script Date: 16.4.2016 8:06:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users_Roles](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[FKUser] [bigint] NOT NULL,
	[FKRole] [bigint] NOT NULL,
 CONSTRAINT [PK_Users_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Interests] ON 

INSERT [dbo].[Interests] ([Id], [Name], [FKInterest]) VALUES (1, N'Sports', NULL)
INSERT [dbo].[Interests] ([Id], [Name], [FKInterest]) VALUES (2, N'Food', NULL)
INSERT [dbo].[Interests] ([Id], [Name], [FKInterest]) VALUES (3, N'History', NULL)
SET IDENTITY_INSERT [dbo].[Interests] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [FirstName], [MiddleName], [LastName], [UserName], [HomeTown]) VALUES (1, N'a', N'a', N'a', N'a', N'a')
INSERT [dbo].[Users] ([Id], [FirstName], [MiddleName], [LastName], [UserName], [HomeTown]) VALUES (2, N'b', N'b', N'b', N'b', N'b')
INSERT [dbo].[Users] ([Id], [FirstName], [MiddleName], [LastName], [UserName], [HomeTown]) VALUES (3, N'c', N'c', N'c', N'c', N'c')
SET IDENTITY_INSERT [dbo].[Users] OFF
ALTER TABLE [dbo].[Approaches]  WITH CHECK ADD  CONSTRAINT [FK_Approaches_Users] FOREIGN KEY([FKUser])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Approaches] CHECK CONSTRAINT [FK_Approaches_Users]
GO
ALTER TABLE [dbo].[Interests]  WITH CHECK ADD  CONSTRAINT [FK_Interests_Interests] FOREIGN KEY([FKInterest])
REFERENCES [dbo].[Interests] ([Id])
GO
ALTER TABLE [dbo].[Interests] CHECK CONSTRAINT [FK_Interests_Interests]
GO
ALTER TABLE [dbo].[Users_Interests]  WITH CHECK ADD  CONSTRAINT [FK_Users_Interests_Interests] FOREIGN KEY([FKInterest])
REFERENCES [dbo].[Interests] ([Id])
GO
ALTER TABLE [dbo].[Users_Interests] CHECK CONSTRAINT [FK_Users_Interests_Interests]
GO
ALTER TABLE [dbo].[Users_Interests]  WITH CHECK ADD  CONSTRAINT [FK_Users_Interests_Users] FOREIGN KEY([FKUser])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Users_Interests] CHECK CONSTRAINT [FK_Users_Interests_Users]
GO
ALTER TABLE [dbo].[Users_Roles]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles_Roles] FOREIGN KEY([FKRole])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[Users_Roles] CHECK CONSTRAINT [FK_Users_Roles_Roles]
GO
ALTER TABLE [dbo].[Users_Roles]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles_Users] FOREIGN KEY([FKUser])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Users_Roles] CHECK CONSTRAINT [FK_Users_Roles_Users]
GO
USE [master]
GO
