ol,ul {
	list-style:none;
}

.ie7 body{
	overflow:hidden;
}
#bg-main,
#bg-main:after {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0;
}
#bg-main:after {
    content: '';
    background:` transparent url(../images/pattern.png) repeat top left;
}
#bg-main div {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    z-index: 0;
	-webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 15s linear infinite 0s;
    -moz-animation: imageAnimation 15s linear infinite 0s;
    -o-animation: imageAnimation 15s linear infinite 0s;
    -ms-animation: imageAnimation 15s linear infinite 0s;
    animation: imageAnimation 15s linear infinite 0s;
}

@-webkit-keyframes imageAnimation { 
	0% {
	    -webkit-animation-timing-function: ease-in;
	}
	8% {
	    -webkit-transform: scale(1.05);
	    -webkit-animation-timing-function: ease-out;
	}
	17% {
	    -webkit-transform: scale(1.1);
	}
	25% {
	    -webkit-transform: scale(1.3);
	}
	100% {  }
}
@-moz-keyframes imageAnimation { 
	0% {
	    -moz-animation-timing-function: ease-in;
	}
	8% {
	    -moz-transform: scale(1.05);
	    -moz-animation-timing-function: ease-out;
	}
	17% {
	    -moz-transform: scale(1.1);
	}
	25% {
	    -moz-transform: scale(1.3);
	}
	100% {  }
}
@-o-keyframes imageAnimation { 
	0% {
	    -o-animation-timing-function: ease-in;
	}
	8% {
	    -o-transform: scale(1.05);
	    -o-animation-timing-function: ease-out;
	}
	17% {
	    -o-transform: scale(1.1);
	}
	25% {
	    -o-transform: scale(1.3);
	}
	100% {  }
}
@-ms-keyframes imageAnimation { 
	0% {
	    -ms-animation-timing-function: ease-in;
	}
	8% {
	    -ms-transform: scale(1.05);
	    -ms-animation-timing-function: ease-out;
	}
	17% {
	    -ms-transform: scale(1.1);
	}
	25% {
	    -ms-transform: scale(1.3);
	}
	100% {  }
}
@keyframes imageAnimation { 
	0% {
	    animation-timing-function: ease-in;
	}
	8% {
	    transform: scale(1.05);
	    animation-timing-function: ease-out;
	}
	17% {
	    transform: scale(1.1);
	}
	25% {
	    transform: scale(1.3);
	}
	100% {  }
}
@-webkit-keyframes titleAnimation { 
	0% {
	    -webkit-transform: translateX(200px);
	}
	8% {
	    -webkit-transform: translateX(0px);
	}
	17% {
	    -webkit-transform: translateX(0px);
	}
	19% {
	    -webkit-transform: translateX(-400px);
	}
	25% {  }
	100% {  }
}
@-moz-keyframes titleAnimation { 
	0% {
	    -moz-transform: translateX(200px);
	}
	8% {
	    -moz-transform: translateX(0px);
	}
	17% {
	    -moz-transform: translateX(0px);
	}
	19% {
	    -moz-transform: translateX(-400px);
	}
	25% {  }
	100% {  }
}
@-o-keyframes titleAnimation { 
	0% {
	    -o-transform: translateX(200px);
	}
	8% {
	    -o-transform: translateX(0px);
	}
	17% {
	    -o-transform: translateX(0px);
	}
	19% {
	    -o-transform: translateX(-400px);
	}
	25% {  }
	100% {  }
}
@-ms-keyframes titleAnimation { 
	0% {
	    -ms-transform: translateX(200px);
	}
	8% {
	    -ms-transform: translateX(0px);
	}
	17% {
	    -ms-transform: translateX(0px);
	}
	19% {
	    -ms-transform: translateX(-400px);
	}
	25% {  }
	100% {  }
}
@keyframes titleAnimation { 
	0% {
	    transform: translateX(200px);
	}
	8% {
	    transform: translateX(0px);
	}
	17% {
	    transform: translateX(0px);
	}
	19% {
	    transform: translateX(-400px);
	}
	25% {  }
	100% { o }
}
