<!--<div id="message">
    <div class="message-wrapper">
        <div class="outer-wrapper">
            <div class="image-wrapper"></div>
        </div>
        <div class="text-head">
            <h1 id="message-h1">Welcome to Dubrovnik <span>Benjamin!</span></h1>
        </div>
        <div class="banner-small" style="width:800px; overflow:hidden; text-align:center; margin:0 auto; background-color:transparent;">
            This is the new generation of guidance. See only what you are interesed in and go only where you would like to go. Welcome to the next generation of <span style="color:#e4b254; font-weight: bold">smart content serving</span>.
        </div>
    </div>
</div>-->